# Supabase Settings for Quest 404
# Add these environment variables under Netlify Site Configuration -> Environment Variables

SUPABASE_URL=https://mfzvjejvouqxojhjpiyb.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1menZqZWp2b3VxeG9qaGpwaXliIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI4NzY2MTQsImV4cCI6MjA5ODQ1MjYxNH0.LDSEUuZh1wu-LjOt8iKRNYYBpiZW_ZWQTf_auHuezls
